.analytics {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: var(--font-family-analytics);

	&__graphsList {
		display: flex;
		justify-content: space-between;
		column-gap: 24px;
		margin-bottom: 24px;
	}

	&__graphCard {
		max-height: 400px;
		width: 100%;
		padding: 24px;
		padding-bottom: 48px;
		background-color: var(--color-gray-back);
		border-radius: var(--border-radius-large);
	}

	&__titleCard {
		font-size: 17px;
		font-weight: bold;
		line-height: 24px;
		margin-bottom: 16px;
	}

	&__number {
		font-size: 34px;
		font-weight: bold;
		line-height: 40px;
	}

	&__percent {
		font-size: 13px;
		line-height: 16px;
		font-weight: 500;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		margin-bottom: 16px;
	}

	&__dayCardList {
		max-height: 148px;
		display: flex;
		column-gap: 24px;
		margin-bottom: 36px;
	}

	&__dayCard {
		width: 100%;
		padding: 24px;
		border-radius: var(--border-radius-large);
		background-color: var(--color-gray-back);
	}
}
