@import '../../styles/scss/mixins';

.nav {
	width: 240px;
	&__list {
		list-style: none;
	}

	&__item {
		display: flex;
		justify-content: start;
		align-items: center;
		padding-left: 16px;
		max-width: 240px;
		height: 52px;
		border-left: solid 3px var(--color-gray-back);
		margin-bottom: 4px;

		&::after {
			position: absolute;
			content: ' ';
			transition-duration: var(--transition-duration);
			translate: -50%;
			height: 52px;
			width: 3px;
		}

		&--active {
			position: relative;

			height: 100%;
		}
	}
}
