@import '../../styles/scss/mixins';

.nav {
	width: 240px;
	&__list {
		list-style: none;
	}

	&__title {
		margin-top: 24px;
		margin-bottom: 16px;
		color: var(--color-black-text);
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
	}

	&__item {
		display: flex;
		justify-content: start;
		align-items: center;
		max-width: 240px;
		height: 52px;
		margin-bottom: 4px;
	}

	&__link {
		display: inherit;
		height: inherit;
		width: inherit;
		box-sizing: border-box;

		color: var(--color-black);
		padding-left: 16px;
		align-items: center;

		border-left: solid 3px var(--color-gray-border);
	}
}
