@import '../../styles/scss/mixins';
@import '../../styles/scss/media';

.table {
	font-size: 15px;
	line-height: 20px;
	width: 100%;
	padding-inline: 78px;
	&__body {
		width: 100%;
		border-spacing: 0;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__headLeft,
	&__headRight {
		display: flex;
		column-gap: 12px;
		margin-bottom: 16px;
	}

	&__headLeft {
		width: 330px;
	}

	&__headRight {
		width: 222px;
	}

	&__search,
	& select {
		padding: 6px 8px 6px 16px;
		color: var(--color-gray-text);
		min-width: 50%;
		height: 36px;
		border: 2px solid var(--color-gray-back);
		border-radius: var(--border-radius);
		line-height: 15px;
		font-size: 15px;
	}

	&__search {
		max-width: 50%;
	}

	/* &__sort {
		position: relative;
		width: 169px;

		&::after,
		&::before {
			--right-padding-arrow: 16px;
			position: absolute;
			content: '';
			top: 40%;
			right: var(--right-padding-arrow);
			height: 7px;
			width: 2px;
			background-color: var(--color-main);
			border-radius: 1px;
			rotate: 45deg;
		}

		&::before {
			right: calc(var(--right-padding-arrow) + 4px);
			rotate: -45deg;
		}
	} */

	&__header {
		font-size: 17px;
		line-height: 24px;
		font-weight: 700;
		text-align: center;
	}

	&__row {
		width: 100%;
		height: 80px;
		border: 1px solid black;
		border-radius: var(--border-radius);
		text-align: center;

		@include hover {
			transition-duration: var(--transition-duration);
			background-color: var(--color-gray-back);
		}
	}

	&__cell {
		position: relative;
		&:first-child {
			&::before {
				position: absolute;
				content: '';
				left: -78px;
				width: 78px;
				height: inherit;
				border-top-left-radius: var(--border-radius-large);
				border-bottom-left-radius: var(--border-radius-large);
			}
		}
		&:last-child {
			border-top-right-radius: var(--border-radius-large);
			border-bottom-right-radius: var(--border-radius-large);
		}
	}
}
