:root {
	--color-main: #212121;
	--color-light: rgba(252, 252, 252, 1);
	--color-button: #000000;
	--color-gray-back: #52525217;
	--color-gray-border: #5c5c5c33;
	--color-gray-text: #2121219e;
	--color-gray-text-dark: #212121;
	--color-pagination-back: #cccccc;
	--color-black: #000000;
	--color-black-text: #080808;

	--border-radius: 8px;
	--border-radius-large: 16px;

	--shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.25);

	--font-family-base: 'PlusJakartaSans', sans-serif;
	--font-family-analytics: 'PublicSans', sans-serif;
	--font-family-cabinet: 'Outfit', sans-serif;

	--container-width: 1344px;
	--container-padding-x: 48px;

	--section-padding-top-y: 0px;

	--input-height: 36px;
	--button-height: 36px;

	--transition-duration: 0.2s;
}
