@import '../../styles/scss/mixins';

.auth {
	@include abs-center;

	&__wrapper {
		width: 400px;
		max-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
	}

	&__title {
		margin-bottom: 8px;
		font-size: 28px;
		line-height: 32px;
		letter-spacing: -0.02px;
		text-align: center;
	}

	&__subtitle {
		font-size: 15px;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
		font-size: 15px;
		line-height: 20px;
	}

	&__field {
		width: 100%;
		height: var(--input-height);
		background-color: var(--color-gray-back);
		border: none;
		border-radius: var(--border-radius);
		padding: 8px 12px;
		font-family: var(--font-family-base);

		&:active {
			border: none;
			transition-duration: var(--transition-duration);
		}
	}

	&__continueWith {
		position: relative;
		font-size: 13px;
		line-height: 16px;
		color: var(--color-gray-text);
		margin-inline: 5px;

		&::after,
		&::before {
			position: absolute;
			display: inline-block;
			top: 55%;

			content: '';
			width: 115%;
			height: 1px;

			border-top: 2px solid var(--color-gray-back);
		}

		&::before {
			left: -120%;
		}
		&::after {
			right: -120%;
		}
	}

	&__checkbox {
		@include flex-center;
		column-gap: 8px;

		font-size: 13px;
		line-height: 16px;
		color: var(--color-gray-text);
	}

	&__text {
		font-size: 13px;
		line-height: 16px;
		color: var(--color-gray-text);
	}

	&__link {
		cursor: pointer;
		font-size: 14px;
		text-decoration: underline;
	}
}
